<mat-card-header>
    <mat-card-title class="method-name">
      {{ method.name }}(
      <!-- Params -->
      <span *ngFor="let param of method.params">
        {{param.type}} {{param.name}}
      </span>
      )
      <!-- State Mutability -->
      <span>{{ method.stateMutability }}</span>
      <!-- Returns -->
      <span *ngIf="method.return">
        returns (
        <span *ngFor="let output of method.return.outputs">
          {{ output.type }} {{ output.name }}
        </span>
        )
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>{{ method.details }}</p>

    <pre>
      <code highlight [code]="code"></code>
    </pre>

    <!-- Inputs -->
    <table *ngIf="method.params.length > 0" mat-table [dataSource]="method.params">
      <tr mat-header-row *matHeaderRowDef="paramColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: paramColumns;"></tr>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let param"> {{param.name}} </td>
      </ng-container>
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let param"> {{param.type}} </td>
      </ng-container>
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let param"> {{param.description}} </td>
      </ng-container>
      <!-- Input Column -->
      <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef> Input </th>
        <td mat-cell *matCellDef="let param; let i = index">
          <mat-form-field>
            <input matInput
            (blur)="updateFile()"
            (keydown.enter)="updateFile()"
            [(ngModel)]="param.value"
            [placeholder]="param.type" />
          </mat-form-field>
        </td>
      </ng-container>
    </table>
    <mat-card-actions>
      <button mat-raised-button>Run</button>
    </mat-card-actions>
  </mat-card-content>

  <article *ngIf="!!result">
    <h2>Outputs</h2>
    <p> {{ method.return.description }} </p>
    <mat-list>
      <mat-list-item *ngFor="let output of method.return.outputs">
        {{ output.name }}
      </mat-list-item>
    </mat-list>
  </article>
