main {
  overflow: hidden;
  height: 100%;
}

section {
  height: calc(100% - 64px);
  overflow: auto;
}

mat-card {
  margin: 15px;
}

mat-card-content {
  padding-top: 20px;
}


code {
  padding: 15px;
  font-size: 0.8rem;
}
