<main *ngIf="contract$ | async as contract">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button routerLink="/list">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h2>{{ contract.name }}</h2>
    </div>
    <button matTooltip="Save this contract (WIP)" mat-icon-button (click)="save(contract)">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </mat-toolbar>

  <section>
    <mat-card>
      <mat-card-title>{{ contract.name }}.sol</mat-card-title>
      <mat-card-subtitle *ngIf="contract.title">{{ contract.title }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="contract.author">@{{ contract.author }}</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <pre>
                <code highlight [code]="code"></code>
              </pre>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="updateCode(contract.name, contract.abi, contract.bytecode)">
          Show ABI and bytecode
        </button>
      </mat-card-actions>

    </mat-card>

    <mat-card *ngFor="let method of contract.methods">
      <contract-method [contract]="contract" [method]="method"></contract-method>
    </mat-card>
  </section>

</main>
